@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;

    --card: #ffffff;
    --card-foreground: #09090b;

    --border: #e4e4e7;
    --ring: #18181b;

    --primary: #18181b;
    --primary-foreground: #fafafa;

    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --accent: #f4f4f5;
    --accent-foreground: #18181b;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --success: #10b981;
    --success-foreground: #ffffff;
  }

  [data-theme='dark'] {
    --background: #09090b;
    --foreground: #fafafa;

    --card: #141417;
    --card-foreground: #fafafa;

    --border: #27272a;
    --ring: #d4d4d8;

    --primary: #fafafa;
    --primary-foreground: #18181b;

    --secondary: #27272a;
    --secondary-foreground: #fafafa;

    --muted: #27272a;
    --muted-foreground: #a1a1aa;

    --accent: #27272a;
    --accent-foreground: #fafafa;

    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    
    --success: #059669;
    --success-foreground: #ffffff;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body), sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), sans-serif;
  }
}
